

body{
    background: rgb(146, 161, 158);
    background-image: url(anime-anime-girls-watanabe-you-love-live-sunshine-white-background-hd-wallpaper-preview.jpg);
}
head{
    color:rgb(251, 253, 253)

}